.DS_Store
nbproject/*
backup/*
compile/*
cache/*
upload/user/18/*
upload/user/32/*
upload/user/64/*
upload/user/100/*
upload/user/200/*
upload/user/popup/*
upload/user/original/*
upload/temp/*
upload/media/*
upload/gallery/*
install/sql/data.sql
logs/*
version.txt
public/skins/empuxa/*
public/images/before_sprite/*
