.DS_Store
nbproject/*
app/backup/*
app/compile/*
app/cache/*
app/config/*inc.php
upload/*
app/logs/*
version.txt
public/templates/*
.project
!/app/config/samples/
composer.lock
composer.phar
/vendor/vendor/.composer/
/vendor/.composer/
/vendor/symfony/
/vendor/facebook/
