config/Mailchimp.inc.php
config/Facebook.inc.php
.DS_Store
nbproject/*
backup/*
compile/*
cache/*
config/*
upload/user/*
upload/temp/*
upload/media/*
upload/gallery/*
install/sql/data.sql
logs/*
version.txt
public/skins/*

