# Many rules are taken from
# http://github.com/paulirish/html5-boilerplate/blob/master/.htaccess

# Custom error pages
ErrorDocument 404 /public/404.html
ErrorDocument 422 /public/422.html
ErrorDocument 500 /public/500.html

# Hide files for non script access
<FilesMatch "\.(tpl|ini|htaccess|class.php|inc.php|tpl.php|lang.php|function.php|helper.php|controller.php|model.php|config.php)$">
  order allow,deny
  deny from all
</FilesMatch>

Options +FollowSymLinks

RewriteEngine On
RewriteBase /

# Redirect from root to public folder
RewriteRule ^favicon.ico$ public/favicon.ico [L]
RewriteRule ^robots.txt$ public/robots.txt [L]

# Static rules
# Nice to have
RewriteRule ^(Disclaimer|Impressum)$ index.php?section=content&id=1 [L,QSA]
RewriteRule ^About$ index.php?section=content&id=3 [L,QSA]
RewriteRule ^Contact/([A-Za-z0-9]+)$ index.php?section=mail&id=1&subject=$1 [L,QSA]
RewriteRule ^Help/BB-Code$ http://wiki.github.com/marcoraddatz/candyCMS/bb-code [R=301]
RewriteRule ^Help/Registration$ index.php?section=content&id=2&ajax=1 [R]

# Fixes for rules below
RewriteRule ^(Blog|Content|Gallery|Media|Newsletter|RSS|Search|Session|User)$ index.php?section=$1 [L,QSA] # Show Section
RewriteRule ^(Blog)/page/([0-9]+)$ index.php?section=$1&page=$2 [L,QSA] # Non AJAX pagination
RewriteRule ^(Blog|Comment|Content|Gallery|Media|Newsletter|Session|User)/(create|update|destroy|show)$ index.php?section=$1&action=$2&page=1 [L,QSA] # Default actions
RewriteRule ^(Blog|Comment|Content|Gallery|Session|User)/([A-Za-z0-9]+)/(update|destroy|verification)$ index.php?section=$1&action=$3&id=$2&page=1 [L,QSA] # Show update / destroy actions
RewriteRule ^(Blog|Content|Gallery|Mail|User)/([0-9]+)$ index.php?section=$1&id=$2&page=1 [L,QSA] # Show entry with id
RewriteRule ^(Blog|Content|User)/([0-9]+)/highlight/(.*)$ index.php?section=$1&id=$2&page=1&highlight=$3 [L,QSA] # Show entry with highlighted background
RewriteRule ^(Blog|Content|User)/([0-9]+)/(.*)$ index.php?section=$1&id=$2&page=1 [L,QSA] # Show entry with description in url
RewriteRule ^(Gallery)/([0-9]+)/(createfile|updatefile|destroyfile)$ index.php?section=$1&action=$3&id=$2&album_id=$4&page=1 [L,QSA]
RewriteRule ^(Gallery)/([0-9]+)/page/([0-9]+)$ index.php?section=$1&id=$2&page=$3&ajax=1 [L,QSA] # Show pagination on sub id
RewriteRule ^(Blog|Search)/([A-Za-z0-9]+)$ index.php?section=$1&action=search&id=$2&page=1 [L,QSA] # Show item sorted by tag
RewriteRule ^Comment/([A-Za-z]+)/([0-9]+)/page/([0-9]+)$ index.php?section=comment&action=show&parent_category=$1&id=$2&page=$3&ajax=1 [L,QSA]
RewriteRule ^Comment/create/([a-z])/([0-9]+)$ index.php?section=comment&action=create&parent_category=$1&parent_id=$2 [L,QSA]
RewriteRule ^Comment/([0-9]+)/destroy/([0-9]+)$ index.php?section=comment&action=destroy&id=$1&parent_id=$2 [L,QSA]
RewriteRule ^Gallery/([0-9]+)/upload/(.*)$ upload.php?section=gallery&id=$1&session_id=$2 [L,QSA]
RewriteRule ^(Static|RSS)/([a-z]+)$ index.php?section=$1&template=$2 [L]
RewriteRule ^Media/destroy/(.*)$ index.php?section=media&action=destroy&id=$1 [L,QSA]
RewriteRule ^Language/([a-z]+)$ index.php?language=$1 [L,QSA]
RewriteRule ^RSS/([A-Za-z]+)/([0-9]+)$ index.php?section=RSS&template=$1&id=$2 [L,QSA]
RewriteRule ^Session/(resendpassword|resendverification)$ index.php?section=session&action=$1 [L,QSA]
RewriteRule ^Start$ index.php [L]
RewriteRule ^User/resendverification$ index.php?section=user&action=verification [L]

# Force the latest IE version, in various cases when it may fall back to IE7 mode
# github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

# Cache files
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A0

  # 1 YEAR
  <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
    ExpiresDefault A9030400
  </FilesMatch>

  # 1 WEEK
  <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    ExpiresDefault A604800
  </FilesMatch>

  # 3 HOUR
  <FilesMatch "\.(txt|xml|js|css)$">
    ExpiresDefault A604800
  </FilesMatch>

  # Microsoft icon support
  AddType image/vnd.microsoft.icon .ico
  ExpiresByType image/vnd.microsoft.icon "access plus 3 months"
</IfModule>

<ifModule mod_headers.c>
  # 1 YEAR
  <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
    Header set Cache-Control "max-age=29030400, public"
  </FilesMatch>

  # 1 WEEK
  <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>

  # 5 HOUR
  <FilesMatch "\.(txt|xml|js|css)$">
    Header set Cache-Control "max-age=604800"
  </FilesMatch>

  # NEVER CACHE
  <FilesMatch "\.(html|htm|php|cgi|pl)$">
    Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
  </FilesMatch>

  # hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
  # Disabled. Uncomment to serve cross-domain ajax requests
  Header set Access-Control-Allow-Origin "*"
</ifModule>

# Use gzip to compress data stream
<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/html text/plain text/css application/x-javascript text/javascript application/javascript application/json text/xml application/xml text/x-component
</IfModule>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# Since we're sending far-future expires, we don't need ETags for
# static content.
# developer.yahoo.com/performance/rules.html#etags
FileETag None

# Add modern filetypes
# video
AddType video/ogg  ogg ogv
AddType video/mp4  mp4
AddType video/webm webm

# Proper svg serving. Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType image/svg+xml                 svg svgz

# webfonts
AddType application/vnd.ms-fontobject eot
AddType font/ttf                      ttf
AddType font/otf                      otf
AddType font/x-woff                   woff

ServerSignature Off