#Options +FollowSymLinks
RewriteEngine On

#-------------------------------------------------------------------------------
# THIS RULE MAKES ALL FILES IN "static/" FOLDER PARSEABLE THROUGH gzip.php
# AND CREATES EXPIRE HEADERS.
# ALSO CHANGE, IF CONFIG PATH_PUBLIC HAS BEEN MODIFIED
#-------------------------------------------------------------------------------
#RewriteRule ^public/(.*)$ gzip.php?file=$1 [L]
#RewriteRule ^images/(.*)$ gzip.php?file=$1 [L]

#-------------------------------------------------------------------------------
# SIMPLE, MOST USED RULES
#-------------------------------------------------------------------------------
RewriteRule ^About$ index.php?section=content&id=4 [L]
RewriteRule ^Blog$ index.php?section=blog [L]
RewriteRule ^Contact$ index.php?section=mail&id=1 [L]
RewriteRule ^Content$ index.php?section=content&action=overview [L]
RewriteRule ^Disclaimer$ index.php?section=content&id=1 [L]
RewriteRule ^Gallery$ index.php?section=gallery&action=overview [L]
RewriteRule ^Help/BB-Code$ index.php?section=content&id=2 [L]
RewriteRule ^Help/FAQ$ index.php?section=content&id=4 [L]
RewriteRule ^Help/Registration$ index.php?section=content&id=3 [L]
RewriteRule ^Impressum$ index.php?section=content&id=1 [L]
RewriteRule ^Invite$ index.php?section=login&action=createinvite [L]
RewriteRule ^Login$ index.php?section=login&action=createsession [L]
RewriteRule ^Logout$ index.php?section=login&action=destroysession [L]
RewriteRule ^Media$ index.php?section=media [L]
RewriteRule ^Newsletter$ index.php?section=newsletter [L]
RewriteRule ^Register$ index.php?section=user&action=create [L]
RewriteRule ^RSS$ index.php?section=rss [L]
RewriteRule ^Start$ index.php?section=blog [L]
RewriteRule ^User$ index.php?section=user&action=overview [L]
RewriteRule ^User/Settings$ index.php?section=user&action=update [L]

#-------------------------------------------------------------------------------
# COMLICATED ENTRIES TO AVOID PROBLEMS WITH RULES BELOW
#-------------------------------------------------------------------------------
RewriteRule ^Blog/create/([a-z]+)$ index.php?section=blog&action=create&mode=$1&page=1 [L] #CREATE WRITE MODE
RewriteRule ^Blog/update/([A-Za-z0-9]+)/([a-z]+)$ index.php?section=blog&action=update&id=$1&mode=$2&page=1 [L] #EDIT WRITE MODE
RewriteRule ^Content/update/([A-Za-z0-9]+)/([a-z]+)$ index.php?section=content&action=update&id=$1&mode=$2&page=1 [L] #EDIT WRITE MODE
RewriteRule ^CreateComment/([a-z])/([0-9]+)$ index.php?section=comment&action=create&parentcat=$1&parentid=$2 [L]
RewriteRule ^DestroyComment/([0-9]+)/([0-9]+)$ index.php?section=comment&action=destroy&id=$1&parentid=$2 [L]

#-------------------------------------------------------------------------------
# SIMPLER ENTRIES, MOST USED FOR PERFORMANCE REASONS FIRST
#-------------------------------------------------------------------------------
RewriteRule ^Blog/([0-9]+)$ index.php?section=blog&id=$1&page=1 [L]
RewriteRule ^Blog/([0-9]+)/(.*)$ index.php?section=blog&id=$1&page=1 [L]
RewriteRule ^Blog/page/([0-9]+)$ index.php?section=blog&page=$1 [L]
RewriteRule ^Comment/([A-Za-z]+)/([0-9]+)/page/([0-9]+)$ index.php?section=comment&action=show&parentcat=$1&id=$2&page=$3&ajax=1 [L]
RewriteRule ^Contact/(.*)$ index.php?section=mail&id=1&subject=$1 [L]
RewriteRule ^Content/([0-9]+)$ index.php?section=content&id=$1 [L]
RewriteRule ^Content/([0-9]+)/(.*)$ index.php?section=content&id=$1 [L]
RewriteRule ^Gallery/([0-9]+)$ index.php?section=gallery&id=$1&page=1 [L]
RewriteRule ^Gallery/([0-9]+)/page/([0-9]+)$ index.php?section=gallery&id=$1&page=$2 [L]
RewriteRule ^Lang/([a-z]+)$ index.php?lang=$1 [L]
RewriteRule ^Login/([a-z]+)$ index.php?section=login&action=$1 [L]
RewriteRule ^Mail/([0-9]+)$ index.php?section=mail&id=$1 [L]
RewriteRule ^Newsletter/([a-z]+)$ index.php?section=newsletter&action=$1 [L]
RewriteRule ^RSS/([a-z]+)$ index.php?section=rss&action=$1 [L]
RewriteRule ^Static/([A-Z][a-z][0-9]+)$ index.php?section=static&action=$1 [L]
RewriteRule ^User/([0-9]+)$ index.php?section=user&action=show&id=$1 [L]
RewriteRule ^User/([0-9]+)/(.*)$ index.php?section=user&action=show&id=$1 [L]

#-------------------------------------------------------------------------------
# MOSTLY ADMIN ACTIONS, NOT USED AS OFTEN AS ABOVE
#-------------------------------------------------------------------------------
RewriteRule ^Blog/([a-z]+)$ index.php?section=blog&action=$1&page=1 [L]
RewriteRule ^Blog/([a-z]+)/([A-Za-z0-9]+)$ index.php?section=blog&action=$1&id=$2&page=1 [L]
RewriteRule ^Content/([a-z]+)$ index.php?section=content&action=$1&page=1 [L]
RewriteRule ^Content/([a-z]+)/([0-9]+)$ index.php?section=content&action=$1&id=$2&page=1 [L]
RewriteRule ^Gallery/([a-z]+)$ index.php?section=gallery&action=$1 [L]
RewriteRule ^Gallery/upload/([0-9]+)/(.*)$ upload.php?section=gallery&id=$1&session_id=$2 [L]
RewriteRule ^Gallery/([a-z]+)/([0-9]+)$ index.php?section=gallery&action=$1&id=$2 [L]
RewriteRule ^Media/([a-z]+)$ index.php?section=media&action=$1 [L]
RewriteRule ^Media/destroy/(.*)$ index.php?section=media&action=destroy&file=$1 [L]
RewriteRule ^User/([a-z]+)/([0-9]+)$ index.php?section=user&action=$1&id=$2 [L]

<Files "Config.inc.php">
Order Allow,Deny
Deny from All
</Files>