body
{
  font: 13px "Trebuchet MS", Arial, Sans-serif;
  text-align: center;
  color: #333;
  background: #262626;
}

a:link, a:visited, .element_body a, .comment_body a, .gallery_album a:hover, .gallery_files a:hover
{
  color: #FF0000;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

img {
  border: none;
  vertical-align: bottom;
}

a:hover img {
  text-decoration: none;
}

legend {
  font-weight: bold;
  font-size: 120%;
}

h2 {
  font-size: 24px;
  word-spacing: 0.1em;
}

h3 {
  margin-top: 0px;
  font-size: 14px;
}

#container {
  margin: 50px auto auto;
  width: 805px;
  background: white;
}

#navigation
{
  color:white;
  padding: 8px;
  font-size:120%;
  font-weight:bold;
  border-bottom:1px solid black;
  background:#eee url(../images/bg_navigation.png) center repeat-x;
  border-left:2px solid white;
  border-right:2px solid white;
  border-top:1px solid white;
  border-bottom:1px solid white;
}

#navigation ul, #footer ul {
  padding: 0px;
  margin: 0px;
}

#navigation ul li, #footer ul li {
  display: inline;
  margin: 0px 8px 0px 8px;
  word-spacing: 2px;
}

#footer ul li {
  margin: 0px 3px 0px 3px;
}

#navigation a
{
  text-align:center;
  color:white;
}

#navigation a:hover
{
  color:#f5f5f5;
}

#body
{
  margin-top:10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right: 10px;
}

#footer {
  clear: both;
  background: #262626;
  padding-top: 10px;
}

ul
{
  margin-bottom:10px;
}

li {
  margin-bottom:5px;
}

/* All form actions */
.submit, .input, .textarea, .dropdown, .cancel, .checkbox, .button {
  display:inline;
}

.input img {
  margin:5px;
}

.submit input, .input input, .textarea textarea, .dropdown select, .dropdown option, .cancel input,
.checkbox input, .button input {
  padding:3px;
  cursor:pointer;
}

.submit input, .cancel input, .button input {
  text-align:center;
  margin: 5px;
}

.input input, .dropdown select {
  text-align:left;
  min-width:280px;
}

.dropdown option {
  padding:1px;
}

.textarea textarea {
  width:98%;
  cursor:auto;
  min-width:280px;
}

fieldset .textarea textarea {
  width:80%;
}

#login .submit, #resend_actions .submit, #newsletter .submit {
  display:inline;
  padding:5px;
}

#login .input input, #resend_actions .input input, #newsletter .input input {
  min-width:100px;
}

/* General table alignments */
table, fieldset, .element, .comment {
  margin:0px auto auto;
}

table {
  width: 90%;
}

table td {
  padding:8px;
}

form table td {
  padding:2px 5px 2px 5px;
}

table th
{
  padding-bottom: 8px;
  font-weight:bold;
  font-size:150%;
}

/* Surround Image with Border */
.image, .currentpagelink {
  border:1px solid #ababab;
  padding:5px;
  margin:1px;
}

.image {
  padding: 2px;
}

.pagelink {
  padding:5px;
}

/* Small Info on special functions etc. Used primary as help */
.description {
  color: #000;
  padding: 3px;
}

/* Colors of switching rows */
/* Also change directly in tpl: mediaShowMedia.tpl, contentShowOverview.tpl */
.row1, .row2 {
  background:transparent;
}

/* Center Videoplayer */
.media_player {
  margin: 5px;
}

/* Highlight content or code */
.box {
  padding: 10px;
  width:90%;
}

/* Main DIV container at blog, comments etc. */
.element {
  margin: 0px auto 15px auto;
  overflow: auto;
  text-align:left;
  padding: 0px 12px 0px 12px;
  overflow: hidden;
  text-align:justify;
  line-height: 140%;
}

.comment {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 85%;
  text-align:left;
}

.from_author {
  background:#efefef;
  padding:10px;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
}

.element .header .date {
  font-size: 85%;
}

.element h2, .gallery_album h2 {
  margin: 3px 0px 0px 0px;
}

.element h2 img, .gallery_album h2 img, .gallery_files h2 img {
  vertical-align: baseline;
}

.element .header .date {
  margin-left:15px;
}

.element_body img {
  margin-right:4px;
  margin-left:4px;
}

/* Element footer */
.footer {
  font-size: 90%;
  text-align: right;
  margin-top:3px;
}

.footer img {
  vertical-align:bottom;
}

.footer a {
  margin-left: 5px;
}

/* Both gallery options */
.gallery_files h2 {
  margin-top: 3px;
}

.gallery_album {
  padding: 5px 12px 5px 12px;
  text-align:left;
}

.gallery_album p {
  margin-bottom: 8px;
}

.gallery_album .image, .gallery_files .image {
  margin: 2px 0px
}

.gallery_files .image {
  padding:5px;
}