/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
  display: block;
}

html {
  text-align: center;
  font: 13px "helvetica neue",helvetica,arial,sans-serif;
  color: #000;
  background: #272930;
}

body
{
  margin: 20px auto;
  padding: 20px 50px;
  width: 700px;
  background: #fff;
  border: 12px solid #000000;
  text-align: left;
}

a:link, a:visited
{
  color: #555555;
  text-decoration: none;
  cursor: pointer;
}

a:hover
{
  text-decoration: underline;
}

img {
  border: none;
}

/* headlines */
h1, h2 {
  font-size: 24px;
  word-spacing: 0.1em;
  margin: 3px 0px;
}

h1 {
  font-size:26px;
}

h1 img, h2 img {
  vertical-align: baseline;
}

h3 {
  margin-top: 0px;
  font-size: 14px;
}

/* Main navigation */
nav {
  color: #999999;
  text-align: justify;
  padding: 20px 0px 10px;
  border-bottom: 1px solid #CCCCCC;
  text-transform: uppercase;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
  margin: 0px 3px;
}

nav ul li.right {
  float:right;
}

/* Footer at end of page. Got an ID because of conflicts with other footers */
footer#footer {
  display: table;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #CCCCCC;
  width: 100%;
}

footer#footer section {
  display: table-cell;
  width: 50%;
}

footer#footer ul {
  list-style: none;
  padding: 0px;
}

form#create_mail {
  width:600px;
}

/* Main content area */
div#content {
  display: table;
  width: 100%;
}

/* pagination */
div#content section.pages {
  text-align: center;
}

div#content section.pages span {
  border:1px solid #ababab;
  padding:5px;
  margin:1px;
}

div#content section.pages a {
  padding:5px;
}

/* Add / edit content links */
div#content p a img,
div#content section.pages a img,
span.js-toggle-headline img {
  vertical-align: bottom;
}

/* blog and content pages */
section#blog article.blogs,
section#content article.contents,
section#gallery article.gallery_albums {
  clear: both;
  text-align: justify;
}

section#blog article.blogs header,
section#content article.contents header {
  margin-bottom: 10px;
}

section#blog article.blogs header p,
section#content article.contents header p,
section.gallery_albums p {
  margin: 0px;
}

section#blog article.blogs footer {
  margin: 0px auto 50px auto;
}

section#blog article.blogs details summary {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 110%;
}

section#blog article.blogs footer div.share,
section#content article footer div.share {
  float: left;
}

section#blog article.blogs footer div.share img,
section#content article footer div.share img, 
section article.blogs footer div.comments img {
  vertical-align: bottom;
  margin: 0px 1px;
}

section#blog article.blogs footer div.comments {
  float: right;
}

section#blog article.blogs iframe, 
section#content article.contents iframe {
  display:block;
  margin-top: 10px;
}

section#gallery header {
  font-size: 90%;
}

section#gallery article.gallery_albums {
  text-align: left;
}

section#gallery article.gallery_albums details img {
  border: 1px solid #ccc;
}

/* Comments */
section#comments header {
  padding-top: 22px;
}

section#comments a {
  font-weight: bold;
  color: #000;
}

section#comments article {
  display: table;
  padding: 22px;
  width: 90%;
  margin:0px auto 30px;
  text-align:left;
}

section#comments article.from_author {
  background: #E3E3E3;
  border: 1px solid #d7d7d7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

section#comments article header {
  display: table-cell;
  width: 235px;
  padding: 0px 22px 0px 0px;
}

section#comments article header img {
  float:left;
  margin-right: 10px;
}

section#comments article header a.count {
  font-size: 24px;
  color: #CCCCCC;
  width: 50px;
  float:left;
}

section#comments article header a:hover {
  text-decoration: none;
}

section#comments article p {
  padding: 0;
}

section#comments article footer {
  padding: 0;
  text-align: right;
}

/* quotes */
blockquote {
  padding:0px 15px;
  margin:10px auto;
  text-align:left;
  border-left:5px solid #eee;
}

blockquote h3 {
  margin-top:0px;
  margin-bottom:0px;
}

/* highlight a word in a text */
span.highlight {
  background: #FFD324;
  padding: 2px;
}

div.video, div.audio, div.vjs-flash-fallback {
  text-align: center;
}

/* form fixes */
form h1, form h2, form h3 {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}

form h4 {
  font-weight:normal;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form input[type="password"],
form input[type="name"],
form input[type="search"],
form textarea {
  border: 1px solid #d7d7d7;
  padding: 2px;
}

table {
  width:100%;
  display: table;
}

table td {
  padding: 2px 2px 2px 0px;
}

table tr td:first-child {
  font-weight: bold;
}