/* Comments */
section#comments {
  clear:both;
  padding:10px 0px;
}

section#comments a {
  font-weight: bold;
  color: #000;
}

section#comments article {
  margin-top:30px;
  text-align:left;
  padding:10px;
  background:#eee;
}

section#comments article.from_author {
  background: #E3E3E3;
}

section#comments article header {
  padding: 0px 22px 0px 0px;
  line-height:1.5em;
}

section#comments article header img {
  float:left;
  margin: 3px 10px 0px 0px;
}

section#comments article header a:hover {
  text-decoration: none;
}